<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AVA1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="card" style="width: 100%;">
      <img src="assets/ig.jpg" style="width:50%;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">INGRID RANGEL ARAUJO</h5>
        <p class="card-text">MATRÍCULA:23106952</p>
       
      </div>
    </div>
    
  </div>
</ion-content>
